<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>homepage</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body >
    
    <div class="container">
      <div class="header">
      <img src="/static/css/logo.jpg" class="logo">
      <h1>SOMAIYA CAMPUS GUIDE</h1>
      <a href="http://127.0.0.1:5000/login" class="btn2">ADMIN LOGIN</a>
      </div>
      <div class="content">
          <div class = "left"><!--part 1-->
        <h1 class="home__title">Somaiya<br>VidyaVihar</h1>
        <p1><br>Want to grab a nice Vadapav but dont know the exact location?<br> Or is it your first time on the campus and there is no one around?<br> Don't worry because we are here to help<br><br>
            </p1>
        <a href="http://127.0.0.1:5000/mpmaps" class="btn">SEARCH A LOCATION</a>
          </div><!--part 1 AFTER SEARCH-->
      <div class="right_slider"> <!--par 2 AFTER SEARCH-->
      </div><!--par 2-->
</div>
    </div>
  </body>
</html>