<!DOCTYPE html>
<html>
    <head>
        <link  rel="stylesheet" href="/static/css/main.css"/>
        <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    </head>
<body>

    <div><h1>Welcome to Somaiya Vidyavihar!</h1></div>

<div id="googleMap" style="width:700px;height:700px;"></div>
<!-- {% for item in data %}
    <span onclick=someFunction( {{ item|safe }});>{{ item }}</span>
{% endfor %} -->
<script type="text/javascript">
  var data = JSON.parse(`{{ data | tojson }}`); 
  console.log(data);
 </script> <script>
function myMap() {
  var data_len=parseInt("{{leng}}");
  var i=0;
  //for( i = 0; i < data_len; i++ ){
  //parseFloat("{{data[0][0]}}") data[0].x_coord
 
   // const Bbuild = { lat: parseFloat(data[i].x_coord) , lng:parseFloat(data[i].y_coord) };
var mapProp= {
  center:new google.maps.LatLng(19.072742,72.900600),
  mapTypeId: 'hybrid',
  zoom:18,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
/*var marker = new google.maps.Marker({
  position:{ lat: parseFloat(data[i].x_coord) , lng:parseFloat(data[i].y_coord) },
  animation:google.maps.Animation.BOUNCE,
  Title: "KJSCE",
});
var marker2 = new google.maps.Marker({
  position:{lat:19.072742,lng:72.900600},
  animation:google.maps.Animation.BOUNCE,
  Title: "KJSCE",
});
marker.setMap(map);
marker2.setMap(map);*/
var bounds = new google.maps.LatLngBounds();
for (var i = 0; i < data.length; i++) {
  var data2 = data[i];
  position = new google.maps.LatLng(parseFloat(data[i].x_coord), parseFloat(data[i].y_coord));
  //var myLatlng = new google.maps.LatLng(data2.lat, data2.lng);
  var marker = new google.maps.Marker({
      //position: { lat: parseFloat(data[i].x_coord) , lng:parseFloat(data[i].y_coord) },
      position: position,
      animation:google.maps.Animation.DROP,
      map: map,
      title: data[i].name
  });
  
  var infoWindow = new google.maps.InfoWindow();

  (function (marker, i) {
    google.maps.event.addListener(marker, "click", function (e) {
        //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
        infoWindow.setContent("<div style = 'width:200px;min-height:40px'>"+ data[i].name+": " + data[i].des + "</div>");
        infoWindow.open(map, marker);
    });
})(marker,i);
  //infowindow.open(map,marker);
  bounds.extend(position); 
}
map.fitBounds(bounds);
/*var infowindow = new google.maps.InfoWindow({
  //content:"{{data[0].des}}"
  content:data[i].des
});

infowindow.open(map,marker);
*/
function disp(){
    return "Currently showing: "+marker.getTitle();
}
  //}
}
</script>

<button id="displayname" onclick="disp();" > {{data[0].name}} </button>
<div class="search_box"> <!-- baby2 div starts -->
  <form method="post" action="" >
          <input type="text" placeholder="Search by building name" name="book">
          <button class="search_btn" type="submit" id="searchbtn"><i class="fa fa-search" aria-hidden="true"></i></i>
            <!-- <div>{{data[0].des}}</div> -->
          </button>
  </form>
   </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnmo8zeexHvrReX1pfsNul1RlsUPcIjXA&callback=myMap"></script>

</body>
</html>